/* common style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}
body{
    font-family: "Azeret Mono", monospace;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

/* Navbar style */
nav{
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}

nav h3{
    font-size: 28px;
    font-weight: 800;
}

nav a {
    font-size: 20;
    font-weight: 600;
    padding: 17px 24px;
    color: #0D1321;
}

nav button{
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    background-color: #fff;
}

/* banner style */
.banner{
    background-image: url('../images/Hero-bg.png');
    height: 652px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 35px;
}

.banner_content img{
    height: 240px;
    width: 240px;
}

.banner_content h1{
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    margin: 30px 200px 20px;
}

.banner_content p{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    margin: 0 250px;
}

.banner_content button{
    background-color: #0D1321;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}


.banner_content a{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
}



