/* common style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Azeret Mono", monospace;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* Navbar style */
nav {
    display: flex;
    justify-content: space-between;
    margin: 45px 0;
}

nav h3 {
    font-size: 28px;
    font-weight: 800;
}

nav a {
    font-size: 20;
    font-weight: 600;
    padding: 17px 24px;
    color: #0D1321;
}

nav button {
    border: 1px solid #1e1e1e;
    border-radius: 5px;
    background-color: #fff;
}

/* banner style */
.banner {
    background-image: url('../images/Hero-bg.png');
    height: 652px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 35px;
}

.banner_content img {
    height: 240px;
    width: 240px;
}

.banner_content h1 {
    font-size: 48px;
    font-weight: 800;
    color: #0D1321;
    margin: 30px 200px 20px;
}

.banner_content p {
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
    margin: 0 250px;
}

.banner_content button {
    background-color: #0D1321;
    padding: 20px;
    border-radius: 8px;
    margin-top: 30px;
}


/* .banner_content a {
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
} */

#scrollButton{
    background-color: #000;
    font-size: 20;
    font-weight: 600;
    padding: 17px 24px;
    color: #fff;
} 

/* web development part */
.common_header{
    text-align: center;
    margin: 0px 50px 40px;
}

.common_header h3{
    font-size: 32px;
    font-weight: 800;
    color: #0D1321;
    padding-bottom: 20px;
}

.common_header p{
    font-size: 16px;
    color: #0D1321;
}


.development{
    padding: 80px;
    background-color: #f6f8fd;
    margin-top: 80px;
    border-radius: 16px;
}

.web_one,.web_two, .web_three{
    padding: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 16px;
    margin-bottom: 32px;
}

.web_text h4{
    font-size: 24px;
    font-weight: 700;
    color: #0D1321;
    line-height: 35px;
    padding: 0 0 16px 0;
}

.web_text p{
    font-size: 16px;
    font-weight: 400;
    color: #0D1321;
}
.web_text button{
    padding: 12px 18px;
    border-radius: 4px;
    background-color: #dfdbdb;
    margin-top: 30px;
}

.web_text a{
    font-size: 14px;
    font-weight: 600;
    color: #0D1321;
}


.web_img img{
    width: 274px;
    height: 240px;

}

/* My Inspiration */
.inspiration{
    margin-top: 80px;
}

.inspiration_video{
    padding: 32px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 16px;
}

.inspiration_video img{
    border-radius: 16px;
}

/* My Current Target */
.target{
    margin-top: 140px;
}

.target_items{
    display: flex;
    gap: 24px;
}

.target_item{
    padding: 40px;
    border-radius: 16px;
}

.target_item img{
    height: 56px;
    width: 56px;
} 

.target_item h4{
    font-size: 24px;
    font-weight: 800;
    color: #0D1321;
    padding: 24px 0 8px;
} 

.target_item p{
    font-size: 16px;
    color: #0D1321;
    margin-bottom: 24px;
} 

.target_item a{
    font-size: 16px;
    color: #0D1321;
    text-decoration: solid;
} 

.html{
    background-color: #fff1ee;
}

.css{
    background-color: #dfe8ff;
}

.js{
    background-color: #fff1ee;
}

/* i need support */
#content {
    height:300px;
}

.support{
    background-image: url("../images/handshake.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 313px;
    margin-top: 50px;
    border-radius: 16px;
    text-align: center;
    padding: 48px 64px;
}

.support h2{
    font-size: 32px;
    font-weight: 800;
    color: #fff;
}

.support p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding: 24px 0 20px;
}

/* footer part */
footer{
    display: flex;
    justify-content: space-between;
    padding: 32px;
    background-color: #eeeded; 
    align-items: center; 
    margin-top: 50px;
}

footer ul li{
    float: left;
    padding-left: 24px;
}

footer ul li a{
    height: 36px;
    width: 36px;
}
